body {
    margin: 0;
}

.header {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    padding-bottom: 63px;
}

.header::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.55;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 28px;
    position: relative;
    z-index:2;
    justify-content: space-between;
    align-items: flex-start;
}

.postlist {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: space-between;
}

.header-logo {
    width: 180px;
    margin-left: 3px;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

.menu-list {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    margin-top: 12px;
}

.menu-list-item:nth-child(n+2) {
    margin-left: 36px;
}

.menu-list-item {
    font-size: 13px;
    font-family: Open Sans Regular, Arial, sans-serif;
    text-transform: uppercase;
}

.menu-link {
    color: white;
    text-decoration: none;
}

.title-main {
    position: relative;
    z-index:2;
    margin-right: 0px;
    margin-left: 0px;
}

.lastnews {
    font-size: 45px;
    font-family: Open Sans Bold, Arial, sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 102px;
    margin-bottom: 67px;
    line-height: 1.6;
    margin-left: 215px;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
    font-weight: 400;
    font-style: normal;
}

.menu-news {
    width: 220px;
}

.menu-title {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    display: flex;
}

.menu-list-title {
    font-family: Open Sans Bold, Arial, sans-serif;
    text-transform: uppercase;
    margin-left: 19px;
    list-style-type: none;

}

.menu-list-title:first-child {
    margin-left: 0px;
}

.art-link {
    text-decoration: none;
    color: #b59f5b;
    font-size: 14px;
}

.card {
    width: 773px;
    display: flex;
    margin-bottom: 47px;
}

.card:first-child {
    margin-top: 58px;
}

.card-image {
    margin-top: 8px;
}

.card-content{
    margin-left: 29px;
}

.card-name {
    font-family: Open Sans Bold, Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 24px;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.3;
}

.card-history {
    font-size: 15px;
    font-family: Open Sans Regular, Arial, sans-serif;
    margin-top: 46px;
    line-height: 1.5;
}

.data {
    font-size: 12px;
    font-family: Open Sans Regular, Arial, sans-serif;
}

.author {
    font-size: 12px;
    font-family: Open Sans bold, Arial, sans-serif;
    margin-left: 13px;
}

.sidebar {
    width: 271px;
    margin-top: 60px;
}

.title-sidebar {
    text-align: center;
    font-family: Open Sans Bold, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 14px;
    margin-bottom: 22px;
    margin-top: 0px;
    position: relative;
}

.title-sidebar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 65px;
    height: 3px;
    background-color: #b59f5b;
    margin: auto;
    display: block;
}

.card-sidebar {
    margin-left: 18px;
}

.card-min {
    display: flex;
    margin-top: 8px;
}

.card-name-min {
    font-family: Open Sans Bold, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 4px;
}

.search {
    display: flex;
    margin-top: 60px;
    margin-bottom: 56px;
}

.search-button {
    height: 50px;
    width: 222px;
    border: none;
    background-color: #f4f7f6;
    padding: 0 20px;
    font-family: Open Sans Regular, Arial, sans-serif;
}

.search-button-image {
    height: 50px;
    width: 50px;
    border: none;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 15px center;
    background-color: #b59f5b;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.field-email {
    box-sizing: border-box;
    width: 272px;
    border: 0px;
    padding: 10px 25px 10px 15px;
    vertical-align: middle;
    font-size: 14px;
    height: 55px;
    background-color: #f4f7f6;
    margin-bottom: 14px;
}


.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 18px;
    margin-bottom: 47px;
}

.tag {
    background-color: #ffffff;
    padding: 4px 12px 4px 12px;
    border: 3px solid #eeeeee;
    margin: 3px;
    text-transform: uppercase;
    font-family: Open Sans Bold, Arial, sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #000000;
}

.button {
    border: none;
    padding: 15px 55px;
    margin-bottom: 55px;
    color: #ffffff;
    background-color: #b59f5b;
    font-family: Open Sans Bold, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    width: 272px;
}

.categories {
    display: block;
    padding-left: 0px;
    margin-top: 0px;
}

.categ-name {
    font-family: Open Sans Bold, Arial, sans-serif;
    font-size: 14px;
    list-style-type: none;
    position: relative;
    padding-bottom: 30px;
}

.categ-name:after {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    width: 272px;
    height: 1px;
    background-color: #eeeeee;
    display: block;
}

.number {
    position: absolute;
    font-size: 12px;
    color: #b59f5b;
    margin-bottom: 37px;
    margin-left: 8px;
}

.container-footer {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 22px;
}

.socials {
    display: flex;
    justify-content: center;
    padding: 29px;
    margin-bottom: 0px;
    background-color: #eeeeee;
}

.socials-item {
    list-style-type: none;
    display: flex;
}

.socials-link {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 21px;
}

.socials-link-twitter {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg");
    margin-right: 24px;
}

.socials-link-pinterest {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg");
    margin-right: 24px;
}

.socials-link-facebook {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg");
    margin-right: 24px;
}

.socials-link-instagram {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg");
    margin-right: 24px;
}

.socials-link-tumblr {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
}

.socials-link-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.copyright {
    display: block;
    text-align: center;
    margin-top: 70px;
    font-family: Open Sans Bold, Arial, sans-serif;
    font-size: 12px;
    color: #a1a1a1;
}








