<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kopo.poly.persistance.mapper.INoticeMapper">

    <!--게시글 등록-->
    <insert id="InsertNoticeInfo" parameterType="NoticeDTO">
        INSERT INTO BOARD
(REG_ID,
 CHG_ID,
 BOARD_CONTENT)
 VALUES(#{reg_id},
        #{chg_id},
        #{board_content})
    </insert>
<!---->
</mapper>