<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kopo.poly.persistance.mapper.IUserMapper">

<!-- 회원가입 DB에 정보 저장-->
        <insert id="InsertUserInfo" parameterType="UserDTO">
        INSERT INTO PARENT_INFO
        (PARENT_ID,
        PARENT_EMAIL,
        PARENT_PASSWORD,
        PARENT_NAME,
        PARENT_GENDER)
        VALUES (#{parent_id},
        #{parent_email},
        #{parent_password},
        #{parent_name},
        #{parent_gender})

    </insert>


    <select id="selectUserInfo" parameterType="UserDTO" resultType="UserDTO">
        SELECT PARENT_ID
        FROM PARENT_INFO
        WHERE PARENT_ID = #{parent_id}
        and PARENT_PASSWORD = #{parent_password}
    </select>



    <!--이메일 중복확인-->
    <select id="user_emailcheck" parameterType="UserDTO" resultType="UserDTO">
        SELECT PARENT_EMAIL
        FROM PARENT_INFO
        WHERE PARENT_EMAIL= #{parent_email}
    </select>

</mapper>